<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mb-4">Upload your files</h1>
            <div class="mb-3">
                <input type="checkbox" [(ngModel)]="useWindow"> Use Window
                <input type="number" class="form-control mb-2" placeholder="FPS" [(ngModel)]="fps">
                <input type="number" class="form-control mb-2" placeholder="Window Size" [(ngModel)]="windowSize">
                <input type="file" class="form-control mb-2" (change)="onFileSelected($event)">
                <button class="btn btn-primary" (click)="uploadFile()">Upload</button>
            </div>
        </div>
        <div class="col-md-12" *ngIf="progress && progress < 100">
            <label>Upload Progress: {{ progress | number:'1.0-0' }}%</label>
            <progress class="progress" value="{{ progress }}" max="100" style="width: 100%;"></progress>
        </div>
        <div class="row mt-4" *ngIf="imageUrl">
            <div class="col">
                <h2>Preview</h2>
                <img [src]="imageUrl" alt="image" class="img-fluid">
            </div>
        </div>
    </div>
</div>